{% extends 'base.html' %}

{% block title %}
  <title>ログイン</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
  <div class="stacked-section-child">
    <div class="login-wrapper">
      <form method="post" class="login">
        <p class="title">ログイン</p>
        <input type="text" name="username" id="username" placeholder="ユーザー名" autofocus required/>
        <i class="fa fa-user"></i>
        <input type="password" name="password" is="password" placeholder="パスワード" required/>
        <i class="fa fa-key"></i>
        <div class="forget-password">
          <a href="{{ url_for('account.password_reset') }}">パスワードを忘れた場合はこちら</a>
        </div>
        <div class="signup-case">
          <a href="{{ url_for('auth.signup') }}">新規登録はこちら</a>
        </div>
        <button>
          <span class="state">ログイン</span>
        </button>
      </form>
    </div>
  </div>

{% endblock %}