{% extends 'base.html' %}

{% block title %}新規登録{% endblock %}

{% block content %}
  <div class="stacked-section-child">
    <div class="form-wrapper">
      <form method="post">
        {{ form.hidden_tag() }}
        <p class="title">新規登録</p>
        {{ form.username(placeholder="ユーザー名", autofocus=true) }}
        <i class="fa fa-user"></i>
        {{ form.email(placeholder="メールアドレス") }}
        <i class="fa fa-envelope"></i>
        {{ form.password(placeholder="パスワード（英数字8~15文字）") }}
        <i class="fa fa-key"></i>
        {{ form.submit(class="button") }}
      </form>
    </div>
  </div>
{% endblock %}