{% extends 'base.html' %}

{% block title %}アカウントの編集{% endblock %}

{% block content %}
<div class="stacked-section-child">
	<form method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		<div class="account-form-contents">
			<div class="item">
				<label for="username">ユーザー名</label>
				{{ form.username(value=user['username']) }}
			</div>

			<div class="item">
				<label for="email">メールアドレス</label>
				{{ form.email(value=user['email']) }}
			</div>
		</div>

		<div class="account-form-button">
			<ul>
				<li><input class="btn" type="submit" value="保存する" /></li>
				<li><a class="btn back" href="{{ url_for('account.index') }}">戻る</a></li>
			</ul>
		</div>
	</form>

</div>
{% endblock %}