{% extends 'base.html' %}

{% block title %}
  <title>パスワードリセット</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="stacked-section-child">
  <div class="password-reset-wrapper">
    <form method="post" class="password-reset">
      {{ form.hidden_tag() }} 
      <p class="title">パスワード再設定</p>
      <div class="text">
        パスワードを再設定したい場合はメールアドレスを入力し、<br>
        「パスワード再設定のメールを送る」をクリックしてください。<br>
        送信されたメールの中にある認証アドレスをクリックすると、<br>
        新しいパスワードの入力ページへ移動します。
      </div>

      {% if form.email.errors %}  
        {{ form.email(class="form-control form-control-lg is-invalid input-email") }} 
        <i class="far fa-envelope"></i>
        <div class="invalid-feedback">  
          {% for error in form.email.errors %}  
            <span>{{ error }}</span>  
          {% endfor %}  
          </div>  
      {% else %}  
        {{ form.email(class="form-control form-control-lg input-email") }}  
        <i class="far fa-envelope"></i>
      {% endif %}  
      {{ form.submit(class="button") }}  
    </form>
  </div>
</div>

{% endblock %}