{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<div class="stacked-section-child">
  <div class="form-wrapper">
    <form method="post">
      {{ form.hidden_tag() }}
      <p class="title">パスワードリセット</p>
      <div class="message">
        <p>パスワードを再設定したい場合はメールアドレスを入力し、</p>
        <p>「パスワード再設定のメールを送る」をクリックしてください。</p>
        <p>送信されたメールの中にある認証アドレスをクリックすると、</p>
        <p>新しいパスワードの入力ページへ移動します。</p>
      </div>
      {{ form.email(placeholder="メールアドレス", autofocus=true) }}
      <i class="fa fa-envelope"></i>
      {{ form.submit(class="button") }}
    </form>
  </div>
</div>
{% endblock %}