{% extends 'base.html' %}

{% block title %}
  <title>パスワードリセット</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="stacked-section-child">
  <div class="form-wrapper">
    <form method="post">
      {{ form.hidden_tag() }} 
      <p class="title">パスワードリセット</p>
      <div class="message">
        パスワードを再設定したい場合はメールアドレスを入力し、<br>
        「パスワード再設定のメールを送る」をクリックしてください。<br>
        送信されたメールの中にある認証アドレスをクリックすると、<br>
        新しいパスワードの入力ページへ移動します。
      </div>
      {{ form.email(placeholder="メールアドレス", autofocus=true) }}  
      <i class="fa fa-envelope"></i> 
      {{ form.submit(class="button") }}  
    </form>
  </div>
</div>

{% endblock %}