{% extends 'base.html' %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
  <div class="stacked-section-child">
    <div class="form-wrapper">
      <form method="post">  
        {{ form.hidden_tag() }}  
        <p class="title">パスワード再設定</p>
        <div class="message">
          <p>新しいパスワードを設定してください。</p>
          <p>パスワードは英数字8文字〜15文字です。</p>
        </div>
        {{ form.password(placeholder="新しいパスワード", autofocus=true) }}
        <i class="fa fa-key"></i>
        {{ form.confirm_password(placeholder="新しいパスワード（確認用）") }}  
        <i class="fa fa-key"></i>
        {{ form.submit(class="button") }}    
      </form> 
    </div>
  </div>
{% endblock %}