[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
psycopg2-binary = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
werkzeug = "*"
wtforms = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.7"
