{% extends 'base.html' %}

{% block title %}本の編集 "{{ book['title'] }}"{% endblock %}

{% block content %}

<div class="book-form">
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="book-form-image">
      <span>画像を変更する</span>
      <input type="file" name="file" id="file">
      <img id="preview">
      <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}">
    </div>

    <div class="book-form-text">
      <div class="item">
        <label for="isbn">ISBN</label>
        {{ form.isbn(value=book['isbn']) }}
      </div>

      <div class="item">
        <label for="title">タイトル</label>
        {{ form.title(value=book['title']) }}
      </div>

      <div class="item">
        <label for="author">著者</label>
        {{ form.author(value=book['author']) }}
      </div>

      <div class="item">
        <label for="publisher_name">出版社</label>
        {{ form.publisher_name(value=book['publisher_name']) }}
      </div>

      <div class="item">
        <label for="sales_date">出版年月日</label>
        {{ form.sales_date(value=book['sales_date']) }}
      </div>

      <div class="item">
        <label for="tags">タグ</label>
        <span name="tags" id="tags">
          <ul>
            {% for tag in tags %}
            <li class="tag">{{ tag[1] }}</li>
            {% endfor %}
          </ul>
        </span>
      </div>
    </div>

    <div class="book-form-button">
      <ul>
        <li><input class="btn" type="submit" value="保存する" /></li>
        <li><a class="btn back" href="{{ url_for('book.index', book_id=book['id']) }}">戻る</a></li>
      </ul>
    </div>
  </form>
</div>

{% endblock %}