{% extends 'base.html' %}

{% block title %}本の詳細 "{{ book.title }}"{% endblock %}

{% block content %}

<div class="stacked-section-child">
  <div class="content-heading">
    <h4 class="section-title">{{ book['title']}}</h4>
  </div>

  <div class="book-form">
    <div class="book-form-image">
      <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}" width="200" height="200">
    </div>

    <div class="book-form-text">
      <div class="item">
        <label for="isbn">ISBN</label>
        <span name="isbn" id="isbn">{{ book['isbn'] }}</span>
      </div>

      <div class="item">
        <label for="title">タイトル</label>
        <span name="title" id="title">{{ book['title'] }}</span>
      </div>

      <div class="item">
        <label for="author">著者</label>
        <span name="author" id="author">{{ book['author'] }}</span>
      </div>

      <div class="item">
        <label for="publisher_name">出版社</label>
        <span name="publisher_name" id="publisher_name">{{ book['publisher_name'] }}</span>
      </div>

      <div class="item">
        <label for="sales_date">出版年月日</label>
        <span name="sales_date" id="sales_date">{{ book['sales_date'] }}</span>
      </div>

      <div class="item">
        <label for="tags">タグ</label>
        <span name="tags" id="tags">
          <ul>
            {% for tag in tags %}
              <li class="tag">{{ tag[1] }}</li>
            {% endfor %}
         </ul>
        </span>
      </div>
    </div>
    <div class="book-form-button">
      {% if book['borrower_id'] is none %}
        <a class="action" href="{{ url_for('book.borrow', book_id = book['id']) }}">この本を借りる</a>
      {% elif book['borrower_id'] == g.user['id'] %}
        <a class="action" href="{{ url_for('book.return_', book_id = book['id']) }}">この本を返す</a>
      {% endif %}
      <a class="action" href="{{ url_for('book.edit', book_id = book['id']) }}">編集する</a>
    </div>
  </div>
</div>

<div class="stacked-section-child">
  <div class="content-heading">
    <h4 class="section-title">貸し出し履歴</h4>
  </div>

  <div class="history-list">
    <table>
      <thead>
        <tr>
          <td>借りた人</td>
          <td>貸出日</td>
          <td>返却日</td>
        </tr>
      </thead>
      {% for history in histories %}
        <tbody>
          <tr>
            <td><span class="user_name">{{ history[1] }}</span></td>
            <td><span class="checkout_date">{{ history[0].checkout_date.strftime('%Y年%m月%d日')  }}</span></td>
            {% if history[0]['return_date'] is none %}
              <td><span class="return_date">未返却</span></td>
            {% else %}
              <td><span class="return_date">{{ history[0].return_date.strftime('%Y年%m月%d日')  }}</span></td>
            {% endif %}
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}