{% extends 'base.html' %}

{% block title %}
  <title>詳細 "{{ book.title }}"</title>
{% endblock %}

{% block header %}
  
{% endblock %}

{% block content %}

<div>
  <h3>{{ book['title'] }}</h3>
  <p class="author">{{ book['author'] }}</p>
</div>

<ul>
  <li><a class="action" href="{{ url_for('book.edit', book_id = book['id']) }}">編集する</a>
  <li><a class="action" href="{{ url_for('book.borrow', book_id = book['id']) }}">この本を借りる</a>
  <li><a class="action" href="{{ url_for('book.return_', book_id = book['id']) }}">この本を返す</a>
</ul>

<div>
  <h3>貸し出し履歴</h3>

  <div class="history-list">
    <table>
      <thead>
        <tr>
          <td>借りた人</td>
          <td>貸出日</td>
          <td>返却日</td>
        </tr>
      </thead>
      {% for history in histories %}
        <tbody>
          <tr> 
            <td><p class="user_name">{{ history[1]['username'] }}</p></td>
            <td><p class="checkout_date">{{ history[0]['checkout_date'] }}</p></td>
            {% if history[0]['return_date'] is none %}
              <td><p class="return_date">未返却</p></td>
            {% else %}
              <td><p class="return_date">{{ history[0]['return_date'] }}</p></td>
            {% endif %}
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}