@charset "UTF-8";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Links
# Forms
# Header
# Footer
# Contents
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Normalize
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4em;
}

select {
	appearance: none;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
	color: #333333;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	line-height: 1.5rem;
	font-weight: 400;
}

body {
    background-color: whitesmoke;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5rem;
	font-size: 2rem;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 3.0rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2.0rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
hr {
	background-color: #cccccc;
	border: 0;
	height: 0.1rem;
	margin-bottom: 1.5rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5rem 1.5rem;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to tg-container width. */
	vertical-align: middle;
}

figure {
	margin: 0;
}

table {
	text-align: center;
	width: 100%;
	font-size: 1.4rem;
}

p {
	margin: 0 0 3rem;
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	color: #333333;
	text-decoration: none;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

a a:hover {
	color: #000000;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button, input, select, textarea {
	font-size: 100%;
	/* Corrects font size not being inherited in all browsers */
	margin: 0;
	/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: middle;
	border-radius: 0;
}

button, input[type='button'], .btn {
	cursor: pointer;
	-webkit-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

* {
	box-sizing: border-box;
}

/*-----------------Login/Sign up Form-----------------*/
.form-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 2rem;
}

.form-wrapper form {
	border-radius: 0.2rem 0.2rem 0.5rem 0.5rem;
	padding: 1rem 2rem 8rem 2rem;
	width: 50rem;
	height: 40rem;
	background: #fff;
	position: relative;
	box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.form-wrapper .title {
	color: #444;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 1rem 0 3rem 0;
	border-bottom: 0.1rem solid #eee;
	padding-bottom: 2rem;
}

.form-wrapper .message {
	width: 100%;
	padding: 1.5rem 2.0rem 3.5rem;
}

.form-wrapper .message p {
	margin: 0;
}

.form-wrapper input {
	display: block;
	padding: 1.5rem 1rem;
	margin-bottom: 2rem;
	width: 100%;
	height: 5.5rem;
	border: 0.1rem solid #ddd;
	transition: border-width 0.2s ease;
	border-radius: 0.2rem;
	color: #454545;
}

.form-wrapper input + i.fa {
	color: #fff;
	font-size: 1.6rem;
	position: absolute;
	margin-top: -5.5rem;
	opacity: 0;
	left: 0;
	transition: all 0.1s ease-in;
}

.form-wrapper input:focus {
	outline: none;
	color: #444;
	border-color: #2196f3;
	border-left-width: 3.5rem;
}

.form-wrapper input:focus + i.fa {
	opacity: 1;
	left: 3rem;
	transition: all 0.25s ease-out;
}

.form-wrapper .text {
	margin: 0 1rem;
	padding-top: 1rem;
}

.form-wrapper a {
	font-size: 1.4rem;
	color: #2196f3;
	text-decoration: none;
}

.form-wrapper .button {
	width: 100%;
	height: 100%;
	padding: 1rem 1rem;
	background: #2196f3;
	color: #fff;
	display: inline-block;
	margin: 2rem 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 6rem;
	border-radius: 0.4rem;
	box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,0.12), 0 0.1rem 0.5rem 0 rgba(0,0,0,0.12), 0 0.3rem 0.1rem -0.2rem rgba(0,0,0,0.2);
}

.form-wrapper .button:hover {
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.12), 0 0.3rem 2rem 0 rgba(0,0,0,0.12), 0 0.5rem 0.6rem -0.2rem rgba(0,0,0,0.2);
}

/*-----------------Search Form-----------------*/
.search-form-wrapper {
    padding: 1.5rem 0;
    position: relative;
	margin: auto;
	border-radius: 1.4rem;
}

.search-form {
    background-color: white;
    box-sizing: border-box;
    outline: none;
    position: relative;
    border: 0.1rem solid #DFE1E2;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #DFE1E2;
	border-radius: 2rem;
	margin: 0 auto;
    padding: 0 2rem;
    height: 4rem;
    width: 36rem;
    vertical-align: top;
}

.search-form .search-input {
    border: none;
	height: 100%;
	width: 100%;
    font-weight: 500;
}

.search-form .search-input:focus {
    outline: 0;
}

.search-form .search-button {
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #cccccc;
    position: absolute;
    width: 2.5em;
    height: 2.3em;
    right: 0;
    top: -0.2rem;
	outline : none;
}

.search-form-wrapper .options-section {
	margin: 5rem auto 2rem;
	padding: 1rem;
	text-align: center;
}

.search-form-wrapper .options-section .option {
	display: inline-block;
	vertical-align: top;
	padding: 1rem;
	margin: auto;
}

.search-form-wrapper .options-section select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 2rem;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	outline: 0;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow: 0 0.1rem 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 0.1rem 0 rgba(0,0,0,0.03) inset;
	background-color: white;
}

.search-form-wrapper .options-section .option::after {
	content: "\25bc";
	font-size: 1.6rem;
	color: #333333;
	line-height: 6.4rem;
	position: absolute;
	pointer-events: none;
	margin: 0 -2.5rem;
}

/*-----------------Book From-----------------*/
.book-form {
	max-width: 100rem;
	margin: 1rem auto;
	padding: 3rem;
	background-color: #eeeeee;
	border-radius: 1rem;
}

.book-form-image {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding: 0 5rem 0 1rem;
	max-width: 26rem;
	height: auto;
	box-sizing: border-box;
}

.book-form-image input[type="file"] {
	width: 100%;
	margin-bottom: 1rem;
}

.book-form-image #image, .book-form-image #preview {
	max-width: 26rem;
	width: 100%;
	height: auto;
}

.book-form-text {
	display: inline-block;
	vertical-align: top;
	width: 68%;
	padding: 2rem;
	background: #f4f7f8;
	border-radius: 0.8rem;
	box-sizing: border-box;
}

.book-form-text .item {
	display: block;
	margin: 1.5rem 1rem;
}

.book-form-text .item label {
	display: inline-block;
	width: 30%;
}

.book-form-text .item span {
	display: inline-block;
	width: 68%;
}

.book-form-text .item ul {
	list-style: none;
	margin: 0;
}

.book-form-text .item ul li {
	background-color: #28672b;
	color: snow;
	display: inline-block;
	padding: 0.2rem 1rem;
	margin-right: 1rem;
}

.book-form-text input[type="text"], .book-form-text select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 0.4rem;
	font-size: 1.5rem;
	margin: 0;
	outline: 0;
	padding: 1rem;
	display: inline-block;
	width: 68%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#454545;
	-webkit-box-shadow: 0 0.1rem 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 0.1rem 0 rgba(0,0,0,0.03) inset;
	background-color: white;
}

.book-form-text input[type="text"]:focus, .book-form-text select:focus {
	background: #d2d9dd;
}

.book-form-button ul {
	display: block;
	margin: 3rem 1rem 1rem;
	text-align: center;
}

.book-form-button li {
	display: inline-block;
	margin: 0 2.5rem;
}

.book-form-button .btn{
	display: inline-block;
	color: #FFF;
	width: 20rem;
	height: 4rem;
	margin: 0.5rem;
	padding: 0.8rem;
	text-decoration: none;
	text-align: center;
	line-height: 2.5rem;
	border-width: 0;
	border-radius: 0.4rem;
	box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,0.12), 0 0.1rem 0.5rem 0 rgba(0,0,0,0.12), 0 0.3rem 0.1rem -0.2rem rgba(0,0,0,0.2);
	-webkit-tap-highlight-color: transparent;
	transition: .3s ease-out;
}

.book-form-button .btn:hover{
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.12), 0 0.3rem 2rem 0 rgba(0,0,0,0.12), 0 0.5rem 0.6rem -0.2rem rgba(0,0,0,0.2);
}

.book-form-button input[type="submit"], .book-form-button .edit {
	background: #FFC605;
}

.book-form-button .borrow, .book-form-button .return {
	background: #1e8b38;
}

.book-form-button .back {
	background: #666666;
}

/*-----------------ISBN Search Form-----------------*/
.isbn-wrapper{
	margin: auto;
	height: 5rem;
	position: relative;
	width: 35rem;
}

.isbn-form{
	position:relative;
	margin-bottom:2rem;
}

.isbn-box{
	height:5rem;
	width: 30rem;
	padding:0 2rem;
	position:absolute;
	left:0;
	top:0;
	border-radius:0.5rem;
	outline:0;
	background:#eee;
	border: none;
}

.isbn-btn{
	height:5rem;
	width:5rem;
	position:absolute;
	left: calc(100% - 5rem);
	top:0;
	background:#FFC605;
	color:#fff;
	border:none;
	border-radius:0 0.5rem 0.5rem 0;
}

.isbn-btn .fa-search{
	font-size:2rem;
	position:absolute;
	top:30%;
	left:30%;
}

.isbn-btn:before {
	font-family: FontAwesome;
}

.isbn-btn:hover{
	color:#888;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
#site-header {
    background-color: white;
}

/*-----------------Main Header-----------------*/
.main-header {
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

/*-----------------Logo-----------------*/
.main-logo {
    padding: 0;
	display: flex;
	align-items: center;
}

.main-logo .logo-image {
	padding: 2rem 0;
}

.main-logo .logo-image a img {
	padding: 0;
}

.main-logo .logo-text {
    margin-left: 10rem;
    margin-right: 2rem;
}

.main-logo .logo-text .site-title {
	font-size: 2.2rem;
	font-weight: 500;
	padding: 2rem;
}

.main-logo .logo-text .site-title:hover {
    background-color: whitesmoke;
}

.main-logo .logo-text .site-title a {
	text-decoration:none;
}

/*-----------------Account-----------------*/
.account-container {
    min-width: 20rem;
}

.account-container ul {
    margin: 0;
    height: 100%;
    padding: 1rem;
    text-align: center;
    list-style: none;
}

.account-container ul li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
	font-size: 1.4rem;
}

.account-container ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333333;
	font-weight: bold;
	border-radius: 100rem;
	padding: 1.5rem 2rem;
	margin: 0 0.5rem;
}

.account-container ul li a:hover {
    background-color: whitesmoke;
}

.account-container .fa {
    font-size: 2.4rem;
    padding: 0 1rem;
    color: gray;
}

.account-container span {
    vertical-align: text-bottom;
    color: dimgray;
}

/*-----------------Navigation Header-----------------*/
.navigation-header {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	background-color: lightgray;
}

.navigation-container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.navigation-container ul {
    margin: 0;
    height: 100%;
    text-align: center;
    list-style: none;
}

.navigation-container ul li {
    display: inline-block;
    min-width: 90px;
    width: 20%;
    margin: 2px;
    vertical-align: top;
}

.navigation-container ul li:hover {
	background-color: #bbbbbb;
}

.navigation-container ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #454545;
	font-weight: bold;
	padding: 13px 5px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
	background-color: #333333;
	color: white;
	text-align: center;
}

.footer-media {
	padding-top: 30px;
}

.footer-media ul {
	text-align: center;
	list-style: none;
	margin: 0;
}

.footer-media ul li {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: small;
}

.footer-media ul li a {
	color: white;
	font-size: 30px;
	padding: 15px;
}

.footer-media .fa-twitter:hover {
    color: #00aced
}

.footer-media .fa-instagram:hover {
	color: transparent;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

.footer-media .fa-youtube:hover {
	color: #bb0000;
	background: radial-gradient(circle at 40%, white 0%, white 30%, #333333 40%);
}

.footer-copyright {
	padding: 20px;
	font-size: smaller;
}

/*--------------------------------------------------------------
Contents
--------------------------------------------------------------*/

/*-----------------Common-----------------*/
.content-wrapper {
	width: 1200px;
    margin: 10px auto;
    background-color: whitesmoke;
}

.stacked-section {
	max-width: 1480px;
	margin: 0 auto;
    padding: 60px 40px;
}

.stacked-section-child {
    padding-bottom: 60px;
    display: block;
}

.flash_section {
	margin: 0 auto 40px;
}

.flash {
    margin: 5px auto;
    padding: 16px;
    background: #cae6f6;
	border: 1px solid #377ba8;
	width: 60%;
}

/*-----------------Book List-----------------*/
.book-list {
    max-width: 1480px;
}

.book-container {
    width: 100%;
    display: block;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #cccccc;
}

.book-container .book-image {
    display: inline-block;
    height: auto;
    width: 10%;
    padding: 10px;
	vertical-align: middle;
	box-sizing: border-box;
}

.book-container .book-image img {
    height: auto;
	width: 100%;
	max-width: 60px;
}

.book-container .book-info {
    height: 100%;
    display: inline-block;
    width: 45%;
	vertical-align: middle;
	box-sizing: border-box;
}

.book-container .book-info .book-title {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.book-container .book-info .book-author {
    padding: 5px 10px;
}

.book-container .book-category {
    height: 100%;
    display: inline-block;
    width: 20%;
	vertical-align: middle;
	box-sizing: border-box;
}

.book-container .book-category p {
	margin: 0;
	padding: 10px;
}

.book-container .book-status {
	height: 100%;
	padding: 10px;
    display: inline-block;
    width: 23%;
	vertical-align: middle;
	box-sizing: border-box;
}

.book-container .book-status .text {
	display: flex;
	margin-left: 5%;
}

/*-----------------Search Page-----------------*/
.content-heading {
	text-align: center;
	padding-bottom: 20px;
}

.pagination {
	display: inline-block;
	margin: 0 auto;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
	background-color: white;
	margin: 20px 10px;
}

.pagination span {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	margin: 20px 10px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/*-----------------Register Page-----------------*/
.register-page{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.register-page .btn{
	display: inline-block;
	color: #FFF;
	width: 200px;
	margin-bottom: 5em;
	padding: 0.8em;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	-webkit-tap-highlight-color: transparent;
	transition: .3s ease-out;
}

.register-page .btn:hover{
	text-decoration: none;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
}

.register-page .isbn{
	background-color: #FFC605;
}

.register-page .manual{
	background-color: #666666;
}

/*-----------------Rental History-----------------*/
.history-list {
	margin: 20px auto;
}

.history-list table {
	max-width: 960px;
	border-collapse: collapse;
	border: 0;
	border-spacing: 0;
	margin: 15px auto;
}

.history-list td {
	border: 0;
	margin: 0;
}

.history-list table thead {
	background-color: #123456;
	color: #fff;
	font-weight: 800;
}

.history-list table thead tr td {
	padding: 10px 0;
	width: 33.3%;
}

.history-list table tbody {
	border-bottom: 2px solid #123456;
}

.history-list table tbody tr td {
	padding: 20px 0;
}

/*-----------------Modal-----------------*/
#mask-borrow, #mask-return {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.modal {
  background: #fff;
  color: #555;
  width: 40%;
  min-width: 30rem;
  min-height: 25rem;
  padding: 4rem;
  border-radius: 0.4rem;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#mask-borrow.hidden, #mask-return.hidden {
  display: none;
}

.modal.hidden {
  transform: translate(0, calc(-50vh - 30rem));
}

.modal ul {
	text-align: center;
}

.modal li {
	display: inline-block;
	margin: 0 4rem;
}

.modal button, .modal input {
	cursor: pointer;
	width: 15rem;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
	text-align: center;
	padding: 1.2rem;
	margin: 1.6rem auto 0;
	color: white;
}

.modal p {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	margin: 4rem;
}

.modal input.borrow, .modal input.return {
	background-color: #1e8b38;
}

.modal button.close, button.close  {
	background-color: #666666;
}
