{% extends 'base.html' %}

{% block title %}
  ISBNで登録する
{% endblock %}

{% block content %}

  {% if isbn is not none and book_data is not none %}

  <div class="book-form">
    <form method="post">
      <div class="book-form-image">
        <img alt="{{ book_data['title'] }}" id="image" src="{{ book_data['largeImageUrl'] }}" width="200" height="200">
      </div>

      <div class="book-form-text">
        <fieldset>
          <label for="isbn">ISBN</label>
          <input name="isbn" value="{{ book_data['isbn'] }}" id="isbn" required>

          <label for="title">タイトル</label>
          <input name="title" value="{{ book_data['title'] }}" id="title" required>
      
          <label for="author">著者</label>
          <input name="author" value="{{ book_data['author'] }}" id="author">
          
          <label for="publisher_name">出版社</label>
          <input name="publisher_name" value="{{ book_data['publisherName'] }}" id="publisher_name">
          
          <label for="sales_date">出版年月日</label>
          <input name="sales_date" value="{{ book_data['salesDate'] }}" id="sales_date">   

        </fieldset>
      </div>
      <input type="submit" value="登録する" />
    </form>
  </div>

  {% else %}
  <div class="isbn-wrapper">
    <form method="post" class="isbn-form">
      <input name="isbn" class="isbn-box" value="{{ request.form['isbn'] }}" placeholder="ISBNを入力してください。" required>
      <button class="isbn-btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>

  {% endif %}

{% endblock %}