{% extends 'base.html' %}

{% block title %}
  <title>朋来堂ライブラリー</title>
{% endblock %}

{% block content %}

  <div class="stacked-section-child">
    <div class="search-bar-wrapper">
      <form class="search-bar" method="post" autocomplete="off">
        <input class="search-input" placeholder="タイトル・著者名・出版社" type="text" name="keyword" id="keyword" value="{{ request.form['keyword'] }}" required>
        <button class="search-button" type="submit" method="post"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>

  <div class="stacked-section-child">
    <div class="content-heading">
      <h4 class="section-title">
        最近登録された本
      </h4>
    </div>

    <div class="book-list">
      {% for book in new_books %}
        <div class="book-container">
          <div class="book-image">
            <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}">
          </div>
          <div class="book-info">
            <div class="book-title">
              <a href="{{ url_for('book.index', book_id = book['id']) }}">{{ book['title'] }}</a>
            </div>
            <div class="book-author">
              <p class="author">{{ book['author'] }}</p>
            </div>
          </div>
          <div class="book-category">
            <p class="category">小説</p>
          </div>
          <div class="book-status">
            <p class="status">この本を借りる</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="stacked-section-child">
    <div class="content-heading">
      <h4 class="section-title">
        最近貸し出された本
      </h4>
    </div>

    <div class="book-list">
      {% for book in rental_books %}
        <div class="book-container">
          <div class="book-image">
            <img alt="{{ book[0]['title'] }}" id="image" src="{{ book[0]['image_url'] }}">
          </div>
          <div class="book-info">
            <div class="book-title">
              <a href="{{ url_for('book.index', book_id = book[0]['id']) }}">{{ book[0]['title'] }}</a>
            </div>
            <div class="book-author">
              <p class="author">{{ book[0]['author'] }}</p>
            </div>
          </div>
          <div class="book-category">
            <p class="category">小説</p>
          </div>
          <div class="book-status">
            <p class="author">{{ book[2]['username'] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}