{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}

<div class="stacked-section-child">
  <div class="search-form-wrapper">
    <form class="search-form" method="post" autocomplete="off">
      <input class="search-input" placeholder="タイトル・著者名・出版社" type="text" name="keyword" id="keyword"
        value="{{ request.form['keyword'] }}" required>
      <button class="search-button" type="submit" method="post"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>

<div class="stacked-section-child">
  <div class="content-heading">
    <h4 class="section-title">最近登録された本</h4>
  </div>

  <div class="book-list">
    {% for book in new_books %}
    <a class="book-container" href="{{ url_for('book.index', book_id = book[0]['id']) }}">
      <div class="book-image">
        <img alt="{{ book[0]['title'] }}" id="image" src="{{ book[0]['image_url'] }}">
      </div>
      <div class="book-info">
        <div class="book-title">
          <span class=title>{{ book[0]['title'] }}</span>
        </div>
        <div class="book-author">
          <span class="author">{{ book[0]['author'] }}</span>
        </div>
      </div>
      <div class="book-category">
        {% if book[2] == none %}
        <p class="category"></p>
        {% else %}
        <p class="category">{{ book[2] }}</p>
        {% endif %}
      </div>
      <div class="book-status">
        <div class="status">
          {% if book[0]['borrower_id'] is none %}
          <span>貸し出し可能です。</span>
          {% elif book[0]['borrower_id'] == g.user['id'] %}
          <span>あなたが借りています。</span>
          {% else %}
          <span>{{ book[1] }}さんが借りています。</span>
          {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="stacked-section-child">
  <div class="content-heading">
    <h4 class="section-title">最近貸し出された本</h4>
  </div>

  <div class="book-list">
    {% for book in rental_books %}
    <a class="book-container" href="{{ url_for('book.index', book_id = book[0]['id']) }}">
      <div class="book-image">
        <img alt="{{ book[0]['title'] }}" id="image" src="{{ book[0]['image_url'] }}">
      </div>
      <div class="book-info">
        <div class="book-title">
          <span class="title">{{ book[0]['title'] }}</span>
        </div>
        <div class="book-author">
          <span class="author">{{ book[0]['author'] }}</span>
        </div>
      </div>
      <div class="book-category">
        {% if book[2] == none %}
        <p class="category"></p>
        {% else %}
        <p class="category">{{ book[2] }}</p>
        {% endif %}
      </div>
      <div class="book-status">
        <div class="status">
          {% if book[0]['borrower_id'] is none %}
          <span>貸し出し可能です。</span>
          {% elif book[0]['borrower_id'] == g.user['id'] %}
          <span>あなたが借りています。</span>
          {% else %}
          <span>{{ book[1] }}さんが借りています。</span>
          {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}