{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Top{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <ul>
      <li><a class="action" href="{{ url_for('search.index') }}">本を検索する</a>
      <li><a class="action" href="{{ url_for('register.index') }}">本を登録する</a>
      <li><a class="action" href="{{ url_for('borrow') }}">本を借りる</a>
      <li><a class="action" href="{{ url_for('return_') }}">本を返す</a>
    </ul>
  {% endif %}

  {% for book in newbooks %}
  <article class="book">
    <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}" width="200" height="200">
    <div>
      <h3>{{ book['title'] }}</h3>
      <p class="author">{{ book['author'] }}</p>
    </div>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}

{% endfor %}

{% endblock %}