{% extends 'base.html' %}

{% block title %}
  本を返す
{% endblock %}

{% block content %}

  <div class="stacked-section-child">
    <div class="content-heading">
      <h4 class="section-title">
       借りている本
      </h4>
    </div>

    <div class="book-list">
      {% for book in rental_books %}
        <div class="book-container">
          <div class="book-image">
            <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}">
          </div>
          <div class="book-info">
            <div class="book-title">
              <a href="{{ url_for('book.index', book_id = book['id']) }}">{{ book['title'] }}</a>
            </div>
            <div class="book-author">
              <p class="author">{{ book['author'] }}</p>
            </div>
          </div>
          <div class="book-category">
            <p class="category">小説</p>
          </div>
          <div class="book-status">
            <div class="self">
              <a href="{{ url_for('book.return_', book_id = book['id']) }}">この本を返す</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}