{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}本を返す{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for book in rental_books %}
    <article class="book">
      <img alt="{{ book['title'] }}" id="image" src="{{ book['image_url'] }}" width="200" height="200">
      <div>
        <h3>{{ book['title'] }}</h3>
        <p class="author">{{ book['author'] }}</p>
      </div>
    </article>

    <a class="action" href="{{ url_for('book.return_', book_id = book['id']) }}">この本を返す</a>

    {% if not loop.last %}
    <hr>
    {% endif %}

  {% endfor %}

{% endblock %}