{% extends 'base.html' %}

{% block title %}
  <title>本を探す</title>
{% endblock %}

{% block header %}
  
{% endblock %}

{% block content %}

  <div class="stacked-section-child">
    <div class="search-form-wrapper">
      <form class="search-form" method="post" autocomplete="off">
        <input class="search-input" type="text" placeholder="タイトル・著者名・出版社" name="keyword" id="keyword" value="{{ request.form['keyword'] }}">
        <button class="search-button" type="submit" method="post"><i class="fas fa-search"></i></button>
      </form>
      <div class="options-section">
        <div class="option">
          <label for="status">貸出状況</label>
          <select id="status" name="status">
            <option value="all">全て</option>
            <option value="loaned-out">貸出中</option>
            <option value="available">貸出可能</option>
          </select>     
        </div>
        <div class="option">
          <label for="genre">ジャンル</label>
          <select id="genre" name="genre">
            <option value="all">全て</option>
            <option value="general">一般</option>
            <option value="education">教養</option>
            <option value="practical-use">実用</option>
            <option value="specialty">専門</option>
            <option value="woman">婦人</option>
            <option value="elementary-school">学参I(小中)</option>
            <option value="high-school">学参II(高校)</option>
            <option value="child">児童</option>
            <option value="magazine">雑誌扱い</option>
          </select>     
        </div>
      </div>
    </div>
  </div>

  {% if keyword is not none %}
    <div class="stacked-section-child">
      <div class="content-heading">
        <h4 class="section-title">
          "{{ keyword }}" の検索結果
        </h4>
      </div>

      {% if results|length == 0 %}
      検索結果はありません。
      {% else %}
        <div class="book-list">
          {% for result in results %}
            <div class="book-container">
              <div class="book-image">
                <img alt="{{ result['title'] }}" id="image" src="{{ result['image_url'] }}">
              </div>
              <div class="book-info">
                <div class="book-title">
                  <a href="{{ url_for('book.index', book_id = result['id']) }}">{{ result['title'] }}</a>
                </div>
                <div class="book-author">
                  <p class="author">{{ result['author'] }}</p>
                </div>
              </div>
              <div class="book-category">
                <p class="category">小説</p>
              </div>
              <div class="book-status">
                <p class="status">この本を借りる</p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div> 
  {% endif %}

{% endblock %}